@charset "utf-8";
/* CSS Document */

/* reset */
html { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin:0; padding:0;}
body,button,input,select,textarea { font:12px/20px tahoma, \5FAE\8F6F\96C5\9ED1; } 
input,select,textarea { font-size:100%; }
address, cite, dfn, em, var, i { font-style:normal; }
input, textarea, select { outline:none; border:none; background:none; }
table { border-collapse:collapse; border-spacing:0;}
th { text-align:inherit; }
fieldset,img { border:0;}
iframe { display:block; }
ol,ul,li { list-style:none; }
del { text-decoration:line-through; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:500;}
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ins,a { text-decoration:none!important; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
audio,canvas,video { display:inline-block; *display:inline; *zoom:1; }
abbr,acronym { border:0; font-variant:normal; }
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:500; }
body { color:#666; }
a { color:#666;
	-webkit-transition:all .2s;
	   -moz-transition:all .2s;
		-ms-transition:all .2s;
			transition:all .2s;
}
a:hover { color:#f25618; }

.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; line-height:0; }
.clearfix { zoom:1; /* for IE6 IE7 */}

/* font */
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f24 { font-size:24px; }
.f30 { font-size:30px; }
.fb  { font-weight:700; }
.fn  { font-weight:400; }
.t2  { text-indent:2em; }
.lh100 { line-height:100%; }
.lh150 { line-height:150%; }
.lh180 { line-height:180%; }
.lh200 { line-height:200%; }
.unl    { text-decoration:underline; }
.no_unl { text-decoration:none; }
.ect {  
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* font-color */
.s-gn{ color:#01af63!important; }	/*绿色*/
a.s-gn:hover { color: #f25618!important; }
.s-oe{ color:#f25618!important; }	/*橙红*/
.s-c333 { color:#333 !important; }
.s-c666 { color:#666 !important; }
.s-c999 { color:#999 !important; }
a.s-c333:hover, a.s-c666:hover, a.s-c999:hover { color:#f25618 !important; }
.s-cbbb { color:#bbb !important}

/* dingwei */
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.ma { margin-left:auto; margin-right:auto; }
.fl { float:left; } 
.fr { float:right; }
.cb { clear:both; }
.cl { clear:left; }
.cr { clear:right; }
.vm { vertical-align:middle; }
.pr { position:relative; }
.pa { position:absolute; }
.zoom { zoom:1; }
.hidden { visibility:hidden; }
.none { display:none; }
.block { display:block; }

/* width 、height */
.wc	  { width:100%; }	/* width-centum */
.w990 { width:990px; }
.w1200 { width:1200px; }
.w-mn { min-width: 990px; max-width: 1200px; _width: 990px; }

.hc { height:100%; } 
.ha { height:auto; }

/* margin、padding */
.m10 { margin:10px; }
.m15 { margin:15px; }
.m20 { margin:20px; }
.m30 { margin:30px; }
.m40 { margin:40px; }
.m50 { margin:50px; }
.mt5  { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt50 { margin-top:50px; }
.mt100{ margin-top:100px; }
.mb5  { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mb50 { margin-bottom:50px; }
.mb100{ margin-bottom:100px; }
.ml5  { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }
.ml40 { margin-left:40px; }
.ml50 { margin-left:50px; }
.ml100{ margin-left:100px; }
.mr5  { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
.mr40 { margin-right:40px; }
.mr50 { margin-right:50px; }
.mr100{ margin-right:100px; }
.mr145{ margin-right:145px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p20 { padding:20px; }
.p30 { padding:30px; }

.p40 { padding:40px; }
.p50 { padding:50px; }
.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt50 { padding-top:50px; }
.pt100{ padding-top:100px; }
.pb5  { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px; }
.pb50 { padding-bottom:50px; }
.pb100{ padding-bottom:100px; }
.pl5  { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl50 { padding-left:50px; }
.pl100{ padding-left:100px; }
.pr5  { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr50 { padding-right:50px; }
.pr100{ padding-right:100px; }

/*层级*/
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }
.z-6 { z-index: 6; }
.z-7 { z-index: 7; }
.z-8 { z-index: 8; }
.z-9 { z-index: 9; }
.z-10 { z-index: 10; }
/* font-family: 'DINCond-Bold' */
@font-face{ 
	font-family:"DINCond-Bold"; 
	src:url('../fonts/dincond-bold-webfont.eot');
	src:url('../fonts/dincond-bold-webfont.eot?#iefix') format("embedded-opentype"),
		url('../fonts/dincond-bold-webfont.woff') format("woff"),
		url('../fonts/dincond-bold-webfont.ttf') format("truetype"),
		url('../fonts/dincond-bold-webfont.svg') format("svg");
	font-weight:normal;
	font-style:normal;
}


/*顶部banner*/
.hd-chartlet .char-close { position: absolute; top: 10px; right: 10px; z-index: 10; cursor: default; width: 20px; height: 20px; background-color: rgba(0,0,0, .2); border-radius: 50%; font-size: 16px; color: #fff; text-align: center; line-height: 20px; }

