@charset "utf-8";
/* CSS Document */

/* 页码 */
.u-page { color: #999; }
.u-page a { 
    display: inline-block;
    width: 40px; height: 38px; line-height: 38px;
    border: 1px solid #eee; border-left: none;
    background-color: #fff;
    text-align: center; color: #999;

}
.u-page .u-p-prev, .u-page .u-p-next {
    width: auto;
    padding: 0 20px;
    white-space: nowrap;
}
.u-page .u-p-prev {
    border-left: 1px solid #eee;  
    margin-right: -4px;
}
.u-page .u-p-next {
    margin-left: -4px;
}
.u-page .borl { border-left: 1px solid #eee;  }
.u-page  span {
     display: inline-block;
     width: 40px; height: 40px; line-height: 40px;
    text-align: center;
}
.u-page a:hover, .u-page a.u-p-on {
     background-color: #01af63;
     border-color: #01af63;
     color: #fff;
}
/* 表单 */
.m-form { }
.m-form li { 
    min-height: 36px;
    line-height: 36px;
    margin-bottom: 20px;
}
.m-form .radio, .m-form .checkbox, .m-form .u-fe { margin-top: 9px; }
.m-form-lr li {
    position: relative;
    padding-left:100px;
}
.m-form-lr li label {
    position: absolute;
    left: 0; top: 0;
    width: 80px;
}
/* 输入提示 */
.m-f-tips {
    position: absolute;
    left: 290px; top: 0; _top: 6px;
    height: 24px;
    color: #999;
}
.m-f-tips-bm {
    left: 0; top: 38px; _top: 42px;
    height: 20px; 
    line-height: 20px;
}
.m-f-tips .ico-m { margin: -2px 5px 0 0; }
.m-f-tips-bm .ico-m { margin-right: 0; }
.m-form-lr .m-f-tips { left: 390px; }
.m-form-lr .m-f-tips-bm { left: 100px; }
    /*下拉框*/
.u-pn {
    position: relative;
    width: 100px;height: 36px; 
    border: 1px solid #ddd;
    cursor: pointer;
}
.pn-ct {
    position: relative;
    width: 100px; height: 36px;
    background-color: #fff;
}
.pn-on {
    position: relative;
    display: block;
    height: 36px;
    padding: 0 30px 0 10px;
    font-size: 14px; line-height: 36px;color: #666;
    overflow: hidden; 
}
.pn-on .arrow {
    position: absolute;
    top: 16px; right: 12px;
    border-top-style: solid;
    border-top-color: #5a5a5a;
}
.pn-more {
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
.pn-more li {
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    margin:0;
}
.pn-more li:hover {
    background-color: #eee;
}
.u-pn-hover {
    width: 98px; height: 34px;
    border: 2px solid #01af63;
}
.u-pn-hover .pn-ct {
    width: 98px;height: 34px;
}
.u-pn-hover .pn-on {
    padding: 0 29px 0 9px;
    height: 34px;
    line-height: 34px;
}
.u-pn-hover .pn-on .arrow {
    top: 15px; right: 11px;
    border-top-style: solid;
     border-top-color: #01af63;
}
.u-pn-click {
    width: 102px;height: 38px;
    border: none;
}
.u-pn-click .pn-on { line-height: 38px; }
.u-pn-click .pn-ct {
    position: absolute;
    left:0;top:0;
    width: 100px;
    height: 282px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.u-pn-click  .pn-on {
    padding: 0 31px 0 10px;
    line-height: 36px;
}
.u-pn-click  .pn-on .arrow {
    top: 12px; right: 12px;
    border-top-style: dashed;
    border-bottom-style: solid;
    border-color: transparent transparent #999 transparent;
}
.u-pn-click .pn-more { display: block; height:248px; }
.u-pn-disable {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #ccc;
    cursor: default;
}
.u-pn-disable .pn-ct { background-color: #f5f5f5; }
.u-pn-disable .arrow {
    border-top-style: solid; 
    border-top-color: #ccc;
}
    /*单选、多选*/
.radio, .checkbox {
    height: 20px; 
    font-size: 14px; line-height: 20px;
    cursor: pointer;
}
.radio .i-ro, .checkbox .i-ce { 
    float: left;
    margin:3px 5px 0 0; 
}
.radio-ct .i-ro       { background-position:-17px -110px; }
.checkbox-ct .i-ce { background-position:-34px -110px; }

/* 弹框背景 */

html, html body { width:100%; height:100%; }
*html, *html body { background-image:url(about:blank); background-attachment:fixed; }
.bg-black {
    position: fixed; _position:absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    background-color: #000; 
    opacity: .5; 
    filter: alpha(opacity=50);
    z-index: 1000;
}
.bg-white {
    position: fixed; _position:absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    background-color: #fff; 
    opacity: .5; 
    filter: alpha(opacity=50);
    z-index: 1000;
}
.pop {
    position:absolute; left:50%; top:120px; z-index:1002;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}
.pop-sha {
    border:1px solid #eee;
    border-radius:3px;
}
.load { 
    margin:30px auto 60px;
    border:1px solid #eee;
    border-radius:3px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

/* 字体 */
.s-fa { font-family:'宋体'; }

/* 自适应高度 */
.h-auto { height:auto !important;}

.weizhi .s-fa { 
    margin:0 5px;
    color:#999; 
}